*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Phần header */
#header{
    width: 100%;
    height: 100px;
    background-color: var(--white_color);

/* Các phần tử bên trong header */
    .nav_bar{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 20px 100px;
    }

    .sign{
        width: 150px;
        height: 60px;
        background: url('./img/sign_demo.png') center center / cover no-repeat;
    }

    .nav_right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .nav_item{
            position: relative;
            display: inline-block;
            width: 140px;
            height: 50px;
        }

        .nav_item a{
            /* position: absolute; */
            color: var(--wine_color);
            display: inline-block;
            width: 100%;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            line-height: 50px;
            transition-duration: 0.3s;
            
            /* border-bottom: solid 2px var(--white_color); */

        }

        /* .nav_item>a{
            border-bottom: solid 2px var(--white_color);
        } */

        .nav_item:hover>a{
            color: var(--white_color);
            background-color: var(--wine_color);

            /* border-bottom: solid 2px var(--wine_color); */
        }

        .nav_list, .nav_btns{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 0.5rem;    
            /* gap để chỉnh khoảng cách giữa các nút */
        }

        .nav_btns{
            gap: 2rem;
        }

        .nav-arrow-down{
            font-size: 14px;
        }

        .subnav{
            position: absolute;
            top: 100%;
            left: 0; 
            z-index: 1;
            width: 110%;
            background-color: var(--white_color);
            box-shadow: 0 0 2px var(--gray_color);


            list-style: none;
            opacity: 0;
            visibility: hidden;

            .subnav_item a{
                background-color: var(--white_color);
                color: var(--wine_color);
            }   

            .subnav_item:hover>a{
                color: var(--white_color);
                background-color: var(--gold_color);
            }
        }

        .nav_shop:hover .subnav{
            opacity: 1;
            visibility:visible;
        }

        /* .wine_btn{
            position: relative;
            width: 170px;
            height: 60px;
            border: solid 2px var(--gray_color);
            font-size: 20px;
            cursor: pointer;
            transition-duration: 0.3s;

        }

        .wine_btn a{
            position: absolute;
            text-decoration: none;
            text-align: center;
            color: var(--gold_color);
            width: 100%;
            line-height: 60px;
        }
        
        .wine_btn:hover{
            transform: scale(1.1);
        } */

        .cart_btn{
            color: var(--gold_color);
            font-size: 20px;
            cursor: pointer;
            padding: 15px 20px;        
        }

        .cart_btn i{
            /* đảo ngược cái icon xe hàng */
            transform: rotateY(180deg);
        }

        .cart_quantity{
            position: absolute;
            height: 12px;
            width: 12px;
            background-color: var(--black_color);
            color: var(--white_color);
            text-align: center;
            font-size: 10px;
            line-height: 12px;
            margin: -7px 0px 0px -8px;
            border-radius: 50%;
           
        }
        
        /* cho 3 cái dưới lên cùng 1 hàng */
        .cart_btn p, .cart_btn i, .cart_quantity{
            display: inline-block;
        }

        .login_btn{
            position: relative;
            /* border-radius: 10px; */
            width: 100px;
            height: 30px;
            /* margin-right: -30px; */
        }

        .login_btn a{
            font-size: 18px;
            position: absolute;
            text-align: center;
            text-decoration: none;
            width: 100%;
            line-height: 30px;
            border-radius: 10px;
            background-color: var(--wine_color);
            color: var(--white_color);
            transition-duration: .3s;
        }
        
        .login_btn:hover a{
            transform: scale(1.1);
            background-color: var(--gold_color);
            /* color: var(--white_color); */
        }
        
    }
    
}


#content{
    overflow: hidden;


    #title{
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(116, 0, 69, 0.8), rgba(255, 255, 255, 0.7))
        ,url('./img/canhdong.jpg') center center / cover no-repeat ;

        .title_content{
            text-align: center;
            color: var(--white_color);

            .title_header{
                font-size: 72px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .title_info{
                font-size: 20px;
            }
        }
    }

    #cart{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        padding: 70px 130px;

        .cart_container{
            width: 100%;
            height: 100%;
            display: flex;
            gap: 30px;

            .cart_left{
                width: 60%;
                height: 100%;
                padding: 20px 30px;
                border: solid 1px var(--gray_color);
                display: flex;
                justify-content: center;
                flex-direction: column;
                
                .cart_info{

                    .cart_header{
                        font-size: 20px;

                        .header:nth-child(1){
                            text-align: center;
                        }
                    }
                }

                .product_info{
                    font-size: 20px;
                
                    .info{
                        padding-block: 15px;
                        border-bottom: solid 1px var(--gray_color);

                        .delete_icon{
                            cursor: pointer;
                            font-size: 30px;
                            font-weight: 900;
                            color: var(--redwine_color);
                        }

                        .product_img{
                            width: 60px;
                            height: 60px;
                            background: url('./img/product1.jpg') center center / cover no-repeat;
                        }

                        .product_name{
                            color: var(--wine_color);
                        }

                        .product_quantity{
                            font-size: 16px;
                            width: 80px;
                            height: 25px;
                            border: solid 1px var(--gray_color);
                            border-radius: 3px;
                            padding: 10px;
                        }
                    }

                    .info:nth-child(1){
                        display: flex;
                        align-items: center;
                    }
                }
                

            }

            .cart_right{
                width: 40%;
                height: 80%;
                border: solid 1px var(--gray_color);
                padding: 20px 30px;

                font-size: 20px;
                
                .cart_header{
                    margin-bottom: 40px;
                }

                .total_container{

                    .sub_total{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 0 20px 0;  
                    }

                    .ship_cost{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 20px;
                        border-bottom: solid 1px var(--gray_color);
                    }

                    .total{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px 0 40px 0;
                    }

                    .checkout_btn{
                        position: relative;
                        width: 100%;
                        height: 70px;
                        background-color:  var(--wine_color);
                        transition-duration: 0.3s;
                        cursor: pointer;
                    }
            
                    .checkout_btn a{
                        position: absolute;
                        text-decoration: none;
                        color: var(--white_color);
                        font-size: 20px;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 70px;
                    }
                    
                    .checkout_btn:hover{
                        transform: scale(1.1);
                        background-color: var(--gold_color);
                    }

                }
            }
        }
    }
}

/* Phần footer, bao gồm Social và Copyright */
#footer{
    /* position: relative; */
    width: 100%;
    height: 450px;

    #social{
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 350px;
        padding: 0 130px;
        background:linear-gradient(to bottom,rgba(116, 0, 69, 0.8), rgba(116, 0, 69, 0.8))
        , url('./img/footer.jpg') center center / cover no-repeat;

        .social_left{
            color: var(--white_color);

            .social_header{
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 200;
            }
            
            .social_info{
                font-size: 40px;
                font-weight: 500;
            }
        }

        .social_right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .social_icon{
                font-size: 20px;
                background-color: var(--white_color);
                color: var(--wine_color);
                padding: 10px;
                border-radius: 50%;
                text-decoration: none;
                transition-duration: 0.3s;
            }

            .social_icon:hover{
                transform: scale(1.1);
                color: var(--gold_color) ;
            }
        }
        
    }

    #copy-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white_color);
        font-size: 18px;
        width: 100%;
        height: 100px;
        padding: 0 130px;   

        .left_item{
            color: var(--teal_color);
        }

        .right_item{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            
            .more_info{
                text-decoration: none;
                color: var(--teal_color)    ;
            }
        }
    }

}

#toast{
    position:fixed;
    width: 30%;
    top: 0;
    right: 0;

    .toast_container{
        margin-top: 20px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        background-color: var(--white_color);
        border-left-style: solid ;
        border-left-width: 5px;
        border-radius: 2px;
        box-shadow: 0 1px 5px var(--gray_color);


        .toast_icon{
            padding: 0 16px;
            font-size: 20px;
        }

        .toast_body{
           flex-grow: 1;

            .toast_title{
               font-size: 18px;
               font-weight: 600;
               /* color: var(--green_color); */
            }

            .toast_msg{
                margin-top: 4px;
                font-size: 16px;
                color: var(--teal_color);
            }

        }

        .toast_close{
            cursor: pointer;
            padding: 0 16px;
            font-size: 30px;
            color: var(--gray_color);
            transition-duration: .5s;
        }

        .toast_close:hover{
            transform: scale(1.1);
            color: var(--black_color);
        }
    }

    
}

.toast_success{
    border-left: solid 5px var(--green_color);

    .toast_icon{
        color: var(--green_color);
    }
}

.toast_error{
    border-left: solid 5px var(--red_color);

    .toast_icon{
        color: var(--red_color);
    }
}


@keyframes slideInLeft{
    from{
        opacity: 0;
        transform:  translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }    
}