*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --height_quality1: calc(100% - 180px);
    --height_quality2: calc(100% - 140px);
    --img_1: url('./img/img1.jpg') center center / cover no-repeat;
    --img_2: url('./img/img2.jpg') center center / cover no-repeat;
    --img_3: url('./img/img3.jpg') center center / cover no-repeat;
    --img_4: url('./img/img4.jpg') center center / cover no-repeat;
    --img_5: url('./img/img5.jpg') center center / cover no-repeat;
    --img_6: url('./img/img6.jpg') center center / cover no-repeat;
}

@keyframes floatIn {
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }
    
}

html{
    overflow: hidden;
}


/* Phần header */
#header{
    width: 100%;
    height: 100px;
    background-color: var(--white_color);

/* Các phần tử bên trong header */
    .nav_bar{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px;
        gap: 0.5rem;
    }

    .sign{
        width: 150px;
        height: 60px;
        background: url('./img/sign_demo.png') center center / cover no-repeat;
    }

    .nav_right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .nav_item{
            position: relative;
            display: inline-block;
            width: 120px;
            height: 50px;
        }

        .nav_item a{
            /* position: absolute; */
            color: var(--wine_color);
            display: inline-block;
            width: 100%;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            line-height: 50px;
            transition-duration: 0.3s;
            
            /* border-bottom: solid 2px var(--white_color); */

        }

        .nav_item>a{
            border-bottom: solid 2px var(--white_color);
        }

        .nav_item:hover>a{
            color: var(--white_color);
            background-color: var(--wine_color);

            /* border-bottom: solid 2px var(--wine_color); */
        }

        .nav_list, .nav_btns{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 0.5rem;    
            /* gap để chỉnh khoảng cách giữa các nút */
        }

        .nav-arrow-down{
            font-size: 14px;
        }

        .subnav{
            position: absolute;
            top: 100%;
            left: 0; 
            z-index: 1;
            width: 120%;
            background-color: var(--white_color);
            box-shadow: 0 0 2px var(--gray_color);


            list-style: none;
            opacity: 0;
            visibility: hidden;

            .subnav_item a{
                background-color: var(--white_color);
                color: var(--wine_color);
            }   

            .subnav_item:hover>a{
                color: var(--white_color);
                background-color: var(--gold_color);
            }
        }

        .nav_shop:hover .subnav{
            opacity: 1;
            visibility:visible;
        }

        .wine_btn{
            position: relative;
            width: 170px;
            height: 60px;
            border: solid 2px var(--gray_color);
            font-size: 20px;
            cursor: pointer;
            transition-duration: 0.3s;

        }

        .wine_btn a{
            position: absolute;
            text-decoration: none;
            text-align: center;
            color: var(--gold_color);
            width: 100%;
            line-height: 60px;
        }
        
        .wine_btn:hover{
            transform: scale(1.1);
        }

        .cart_btn{
            color: var(--gold_color);
            font-size: 20px;
            cursor: pointer;
            padding: 15px 20px;        
        }

        .cart_btn i{
            /* đảo ngược cái icon xe hàng */
            transform: rotateY(180deg);
        }

        .cart_quantity{
            position: absolute;
            height: 12px;
            width: 12px;
            background-color: var(--black_color);
            color: var(--white_color);
            text-align: center;
            font-size: 10px;
            line-height: 12px;
            margin: -7px 0px 0px -8px;
            border-radius: 50%;
           
        }
        
        /* cho 3 cái dưới lên cùng 1 hàng */
        .cart_btn p, .cart_btn i, .cart_quantity{
            display: inline-block;
        }
        
    }
    
}

/* Phần content */
#content{
    /* Phần passionate */
    #passionate{
        position: relative;
        width: 100%;
        height: 765px;
        background: linear-gradient(to bottom, rgba(116, 0, 69, 0.8), rgba(255, 255, 255, 0.7))
        ,url('./img/canhdong.jpg') top center / cover no-repeat ;

        .passionate_left{
            position: absolute;
            color: var(--white_color);
            width: 50%;
            margin: 165px 0 100px 130px;

            .passionate_header, 
            .passionate_slogan,
            .passionate_info{
                margin-bottom: 40px;
            }

            .passionate_header{
                font-size: 24px;
            }
            
            .passionate_slogan{
                font-size: 80px;
            }
            
            .passionate_info{
                font-size: 20px;
            }
            
            .view-wine_btn{
                position: relative;
                width: 144px;
                height: 60px;
                background-color: var(--wine_color);
                transition-duration: 0.3s;
            }

            .view-wine_btn a{
                position: absolute;
                color: var(--white_color);
                text-decoration: none;
                line-height: 60px;
                font-size: 20px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            
            .view-wine_btn:hover{
                transform: scale(1.1);
                background-color: var(--gold_color);
                box-shadow: 0 0 5px 1px #ccc;


            }
        }

        .passionate_right{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 600px;
            height: 600px;
            background: url('./img/lyruou.png') center center / cover no-repeat;
            animation: floatIn ease .8s;
        }
    }

    /* Phần art */
    #art{
        position: relative;
        width: 100%;
        height: 765px;
        padding: 60px 20px;
        background: url('./img/art_background.jpg') center center / cover no-repeat;

        .art_content{
            position: absolute;
            width: 45%;
            right: 0;
            margin: 30px 130px 30px 0px;

            .art_header, .art_slogan, .art_info{
                margin-bottom: 40px ;
            }

            .art_header{
                font-size: 24px;
                color: var(--wine_color);
            }
            
            .art_slogan{
                font-size: 54px;
                color: var(--teal_color);
            }
            
            .art_info{
                font-size: 20px;
                line-height: 35px;
                color: var(--teal_color);

            }

            .art-more_btn{
                position: relative;
                width: 200px;
                height: 60px;
                background-color: var(--wine_color);
                transition-duration: 0.3s;
            }
            
            .art-more_btn a{
                position: absolute;
                color: var(--white_color);
                text-decoration: none;
                font-size: 20px;
                line-height: 60px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            
            .art-more_btn:hover{
                transform: scale(1.1);
                background-color: var(--gold_color);   
            }
        }

    }

    /* Phần quality đầu tiên */
     /* Có 2 cái quality cấu trúc tựa nhau chỉ khác chiều cao của container nên để ngoài đặt biến sài chung */
     .quality_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 260px);

        .quality_left{
            height: 100%;
    
            .quality_header{
                font-size: 24px;
                color: var(--wine_color);
            }
            
            .quality_slogan{
                font-size: 54px;
                color: var(--teal_color);

            }
            
            .quality_info{
                font-size: 20px;
                line-height: 35px;
                color: var(--teal_color);

            }
            
            .quality_header, .quality_slogan, .quality_info{
                margin-bottom: 30px;
            }
    
            .quality-more_btn{
                position: relative;
                width: 180px;
                height: 60px;
                background-color: var(--wine_color);
                transition-duration: 0.3s;
            }
            
            .quality-more_btn a{
                position: absolute;
                color: var(--white_color);
                text-decoration: none;
                font-size: 20px;
                line-height: 60px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            
            .quality-more_btn:hover{
                transform: scale(1.1);
                background-color: var(--gold_color);   
            }
        }
    
    }

    #first-quality{
        position: relative;
        width: 100%;
        height: 765px;
        background-color: var(--lightgray_color);
        display: flex;
        align-items: center;
        justify-content: center;

            .quality_container{
                height: var(--height_quality1);
            }

            .quality_left{
                width: 50%;
            }

            .quality_right{
                position: absolute;
                right: 0;
                width: 50%;
                height: 100%;
                background: url('./img/quality_img.png') center center / cover no-repeat;
            }
    }
    
   
    /* Phần cheers */
    #cheers{
        width: 100%;
        height: 700px;
        background-color: var(--white_color);

        display: flex;
        align-items: center;
        justify-content: center;

        .cheers_content{
            background-color: var(--black_color);
            width: calc(100% - 260px);/* trừ 2 cái khoảng lề 2 bên ra*/
            height: 520px;

            display: flex;
            align-items: center;
            justify-content:space-between;

            .cheers_left{
                width: 50%;
                height: 100%;
                background: url('./img/img3.jpg') center center / cover no-repeat;
                /* background: var(--img_1); */
            }

            .cheers_right{
                height: 100%;
                width: 50%;
                color: var(--white_color);
                background: url('./img/cheers_img2.jpg') ;
                text-align: center;

                .cheers_icon{
                    width: 100px;
                    height: 100px;
                    margin: 120px auto 0 auto;
                    background: url('./img/drink.png') center center / cover no-repeat;
                
                }

                .cheers_header{
                    font-size: 24px;
                }
                
                .cheers_info{
                    font-size: 40px;
                    line-height: 50px;
                }

                .cheers_icon, .cheers_header, .cheers_info{
                    margin-bottom: 30px;
                }
            }
        }
    }
    
    /* Phần our */
    #our{
        /* position: relative; */
        display: flex;
        align-items: center;
        justify-content: center;

        height: 480px;
        width: 100%;
        color: var(--white_color);
        background: linear-gradient(to bottom, rgba(116, 0, 69, 0.8), rgba(255, 255, 255, 0.7))
        ,url('./img/canhdong.jpg') center center / cover no-repeat ;

        .our_header{
            text-align: center;
            font-size: 72px;
            margin-bottom: 20px;
        }

        .our_info{
            font-size: 20px;
            text-align: center;
            line-height: 35px;  
            margin-bottom: 40px;
        }
        
        .our_btn{
            position: relative;
            width: 200px;
            height: 60px;
            margin: auto; /*Căn dô giữa*/
            background-color:  var(--wine_color);
            transition-duration: 0.3s;
        }

        .our_btn a{
            position: absolute;
            color: var(--white_color);
            text-decoration: none;
            font-size: 20px;
            line-height: 60px;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .our_btn:hover{
            transform: scale(1.1);
            background-color: var(--gold_color);  
            box-shadow: 0 0 5px 1px #ccc;

        }
        
    }

    /* Phần quality thứ 2 */
    #second-quality{
        width: 100%;
        height: 680px;
        background-color: var(--white_color);

        display: flex;
        align-items: center;
        justify-content: center;

        .quality_container{
            height: var(--height_quality2);

            .quality_left{
                width: 55%;
                padding: 30px 0;
            }
    
            .quality_right{
                display: flex;
                align-items: center;
                margin-right: -130px;
    
                width: 45%;
                height: 100%;
    
                .glass_img{
                    height: 110%;
                    width: 50%;
                    background: url('./img/glass.png') center center / cover no-repeat;
                    /* margin-right: -100px; */
                    z-index: 1;
                }

                .grape_img{
                    height: 120%;
                    width: 50%;
                    background: url('./img/grape.png') center center / cover no-repeat;
                    margin-left: -130px;
                    z-index: 0;
    
                }
            }
        }
    }

    /* Phần Instagram */
    #instagram{
        width: 100%;
        height: 460px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        background:url('./img/cheers_img2.jpg') center center / cover no-repeat;
        
        .instagram_left{
            position: relative;
            width: 60%;
            height: 100%;

            .img_container{ 
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto;
                gap: 10px;

                width: 100%;
                height: 100%;

                .ins_img{
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .img_item{
                        transition-duration: 0.3s;
                    }

                    .img_item:hover{
                        opacity: 0.5;
                    }

                    .img1 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--img_1);
                    }

                    .img2 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--img_2);
                    }

                    .img3 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--img_3);
                    }

                    .img4 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--img_4);
                    }

                    .img5 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--img_5);
                    }

                    .img6 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--img_6);
                    }  
                }
            }   
        }

        .instagram_right{
            width: 40%;
            height: 100%;
            color: var(--white_color);

            .ins_header,.ins_num-follow, .ins-follow{
                text-align: center;
            }
            
            .ins_header{
                font-size: 30px;
                margin-top: 100px;
                margin-bottom: 30px;
            
            }
            
            .ins_num-follow{
                font-size: 44px;
                margin-bottom: 10px;
            }
            
            .ins-follow{
                font-size: 20px;
                margin-bottom: 50px;
            }
            
            .btn_follow{
                position: relative;
                width: 130px;
                height: 60px;
                background-color:  var(--wine_color);
                margin: auto;
                transition-duration: 0.3s;
                border: solid 2px var(--wine_color);
            }
            
            .btn_follow a{
                position: absolute;
                color: var(--white_color);
                text-decoration: none;
                font-size: 20px;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 60px;
            }
            
            .btn_follow:hover{
                background-color: var(--eliminate_color);
                transform: scale(1.1);
                border: solid 2px var(--white_color);
            }
        }
    }  

    /* Phần Join */
    #join{
        width: 100%;
        height: 420px;
        background-color: var(--white_color);
        display: flex;
        align-items: center;
        justify-content: center;

        .join_content{
            height: 100%;

            .join_header{
                text-align: center;
                font-size: 54px;
                margin-top: 100px;
                margin-bottom: 50px;
                color: var(--teal_color);

            } 
            
            .join_contact{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                .join_input{
                    font-size: 17px;
                    width: 580px;
                    height: 60px;
                    border: none;
                    background-color: var(--skin_color);
                    padding: 20px;
                }
                
                .submit_btn{
                    position: relative;
                    width: 180px;
                    height: 60px;
                    background-color:  var(--wine_color);
                    margin: auto;
                    transition-duration: 0.3s;
                }
                
                .submit_btn a{
                    position: absolute;
                    color: var(--white_color);
                    text-decoration: none;
                    font-size: 20px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 60px;
                }
                
                .submit_btn:hover{
                    transform: scale(1.1);
                    background-color: var(--gold_color);
                }
            }
        }
    }
}

  /* Phần footer, bao gồm Social và Copyright */
#footer{
    /* position: relative; */
    width: 100%;
    height: 450px;

    #social{
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 350px;
        padding: 0 130px;
        background:linear-gradient(to bottom,rgba(116, 0, 69, 0.8), rgba(116, 0, 69, 0.8))
        , url('./img/footer.jpg') center center / cover no-repeat;

        .social_left{
            color: var(--white_color);

            .social_header{
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 200;
            }
            
            .social_info{
                font-size: 40px;
                font-weight: 500;
            }
        }

        .social_right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .social_icon{
                font-size: 20px;
                background-color: var(--white_color);
                color: var(--wine_color);
                padding: 10px;
                border-radius: 50%;
                text-decoration: none;
                transition-duration: 0.3s;
            }

            .social_icon:hover{
                transform: scale(1.1);
                color: var(--gold_color) ;
            }
        }
        
    }

    #copy-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white_color);
        font-size: 18px;
        width: 100%;
        height: 100px;
        padding: 0 130px;   

        .left_item{
            color: var(--teal_color);
        }

        .right_item{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            
            .more_info{
                text-decoration: none;
                color: var(--teal_color)    ;
            }
        }
    }

}











