*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Phần header */
#header{
    width: 100%;
    height: 100px;
    background-color: var(--white_color);
    border-bottom: solid 1px rgba(17, 62, 85, 0.2);

/* Các phần tử bên trong header */
    .nav_bar{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px;
        gap: 0.5rem;
    }

    .sign{
        width: 150px;
        height: 60px;
        background: url('./img/sign_demo.png') center center / cover no-repeat;
    }

    .nav_right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .nav_item{
            position: relative;
            display: inline-block;
            width: 120px;
            height: 50px;
        }

        .nav_item a{
            /* position: absolute; */
            display: inline-block;
            width: 100%;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            color: var(--wine_color);
            line-height: 50px;
            transition-duration: 0.3s;
        }

        .nav_item:hover>a{
            color: var(--white_color);
            background-color: var(--wine_color);
        }

        .nav_list, .nav_btns{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 0.5rem;    
            /* gap để chỉnh khoảng cách giữa các nút */
        }

        .nav-arrow-down{
            font-size: 14px;
        }

        .subnav{
            position: absolute;
            top: 100%;
            left: 0; 
            z-index: 1;
            width: 120%;
            background-color: var(--white_color);
            box-shadow: 0 0 2px var(--gray_color);


            list-style: none;
            opacity: 0;
            visibility: hidden;

            .subnav_item a{
                background-color: var(--white_color);
                color: var(--teal_color);
            }

            .subnav_item:hover>a{
                color: var(--white_color);
                background-color: var(--gold_color);
            }
        }

        .nav_shop:hover .subnav{
            opacity: 1;
            visibility:visible;
        }




        .wine_btn{
            position: relative;
            width: 170px;
            height: 60px;
            border: solid 2px var(--gray_color);
            font-size: 20px;
            cursor: pointer;
            transition-duration: 0.3s;

        }

        .wine_btn a{
            position: absolute;
            text-decoration: none;
            text-align: center;
            color: var(--gold_color);
            width: 100%;
            line-height: 60px;
        }
        
        .wine_btn:hover{
            transform: scale(1.1);
        }

        .cart_btn{
            color: var(--gold_color);
            font-size: 20px;
            cursor: pointer;
            padding: 15px 20px;        
        }

        .cart_btn i{
            /* đảo ngược cái icon xe hàng */
            transform: rotateY(180deg);
        }

        .cart_quantity{
            position: absolute;
            height: 12px;
            width: 12px;
            background-color: var(--black_color);
            color: var(--white_color);
            text-align: center;
            font-size: 10px;
            line-height: 12px;
            margin: -7px 0px 0px -8px;
            border-radius: 50%;
           
        }
        
        /* cho 3 cái dưới lên cùng 1 hàng */
        .cart_btn p, .cart_btn i, .cart_quantity{
            display: inline-block;
        }
        
    }
    
}

#content{
    #product{
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;

        .product_container{
            width: calc(100% - 260px);
            height: calc(100% - 140px);
            /* background-color: var(--teal_color); */

            display: flex;
            align-items: center;
            justify-content: space-between;

            .product_left{
                position: relative;
                width: 50%;
                height: 100%;
                /* padding: 60px; */

                .product_img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: url('./img/product1.jpg') center center / cover no-repeat;
                    cursor: none;
                }

                .mirror{
                    position: fixed;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                    background: url('./img/product1.jpg');

                    transform: translate(-50%, -50%);
                    pointer-events: none;
                }

                .hide{
                    display: none;
                }
            }

            .product_right{
                width: 50%;
                height: 100%;
                /* margin: 60px; */
                padding: 60px;

                .breadcrum{
                    font-size: 17px;
                    margin-bottom: 20px;
                }

                .breadcrum a{
                    text-decoration: none;
                    color: var(--wine_color);
                }

                .product_name{
                    font-size: 54px;
                    font-weight: 500;
                    color: var(--teal_color);
                    margin-bottom: 30px;
                }

                .product_price{
                    font-size: 40px;
                    color: var(--gold_color);
                    margin-bottom: 40px;
                }

                .product_info{
                    font-size: 20px;
                    line-height: 35px;
                    color: var(--teal_color);
                    margin-bottom: 40px;
                }

                .add{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 200px;
                    height: 60px;

                    .quantity_input{
                        width: 60px;
                        height: 100%;
                        background-color: var(--skin_color);
                        border: none;
                        text-align: center;
                        font-size: 17px;
                    }

                    .add_btn{
                        position: relative;
                        width: 140px;
                        height: 60px;
                        background-color:  var(--wine_color);
                        transition-duration: 0.3s;
                    }
    
                    .add_btn a{
                        position: absolute;
                        color: var(--white_color);
                        text-decoration: none;
                        font-size: 20px;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 60px;
                    }
                    
                    .add_btn:hover{
                        transform: scale(1.1);
                        background-color: var(--gold_color);
                    }
                }
            }
        }  
        
    }

    #description{
        width: 100%;
        height: 600px;
        background-color:#fbf9f5;

        display: flex;
        align-items: center;
        justify-content: center;

        .des_container{
            width: calc(100% - 260px);
            height: calc(100% - 140px);
        

            .des_header{
                font-size: 30px;
                font-weight: 500;
                color: var(--wine_color);
                margin-bottom: 20px;
            }
    
            .des_info{
                font-size: 20px;
                line-height: 35px;
                color: var(--teal_color);
                margin-bottom: 30px;
            }
        }
    }

    #related{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 750px;

        .related_container{
            width: calc(100% - 260px);
            height: calc(100% - 140px);
            /* background-color: var(--teal_color); */
         
            .related_header{
                font-size: 54px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 70px;
                color: var(--teal_color);
            }

            .related_products{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: auto;
                gap: 40px;

                .product{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .product_info{
                        text-decoration: none;
                        text-align: center;
    
                        .product_img{
                            width: 285px;
                            height: 285px;
                            margin-bottom: 20px;
                            transition-duration: 0.3s;
                        }
    
                        .product_name{
                            font-size: 20px;
                            color: var(--teal_color);
                            margin-bottom: 10px;
                        }
    
                        .product_price{
                            font-size: 20px;
                            font-weight: 900;
                            color:var(--gold_color);
                        }
                    }
                    
                    .product_info:hover img{
                        transform: scale(1.1);
                    }

                    .add_btn{
                        position: relative;
                        width: 140px;
                        height: 60px;
                        background-color:  var(--wine_color);
                        margin-top: 30px;
                        transition-duration: 0.3s;
                    }
    
                    .add_btn p{
                        cursor: pointer;
                        position: absolute;
                        color: var(--white_color);
                        font-size: 20px;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 60px;
                    }
                    
                    .add_btn:hover{
                        transform: scale(1.1);
                        background-color: var(--gold_color);
                    }
                }
            }
        }
    }
}

#footer{
    /* position: relative; */
    width: 100%;
    height: 450px;

    #social{
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 350px;
        padding: 0 130px;
        background:linear-gradient(to bottom, rgba(116, 0, 69, 0.8), rgba(116, 0, 69, 0.8))
        , url('./img/footer.jpg') center center / cover no-repeat;

        .social_left{
            color: var(--white_color);

            .social_header{
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 200;
            }
            
            .social_info{
                font-size: 40px;
                font-weight: 500;
            }
        }

        .social_right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .social_icon{
                font-size: 20px;
                background-color: var(--white_color);
                color: var(--wine_color);
                padding: 10px;
                border-radius: 50%;
                text-decoration: none;
                transition-duration: 0.3s;
            }

            .social_icon:hover{
                transform: scale(1.1);
                color:var(--gold_color) ;
            }
        }
        
    }

    #copy-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white_color);
        font-size: 18px;
        width: 100%;
        height: 100px;
        padding: 0 130px;   

        .left_item{
            color: var(--teal_color);
        }

        .right_item{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            
            .more_info{
                text-decoration: none;
                color: var(--teal_color);
            }
        }
    }

}

#toast{
    position:fixed;
    width: 30%;
    top: 0;
    right: 0;

    .toast_container{
        margin-top: 20px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        background-color: var(--white_color);
        border-left-style: solid ;
        border-left-width: 5px;
        border-radius: 2px;
        box-shadow: 0 1px 5px var(--gray_color);


        .toast_icon{
            padding: 0 16px;
            font-size: 20px;
        }

        .toast_body{
           flex-grow: 1;

            .toast_title{
               font-size: 18px;
               font-weight: 600;
               /* color: var(--green_color); */
            }

            .toast_msg{
                margin-top: 4px;
                font-size: 16px;
                color: var(--teal_color);
            }

        }

        .toast_close{
            cursor: pointer;
            padding: 0 16px;
            font-size: 30px;
            color: var(--gray_color);
            transition-duration: .5s;
        }

        .toast_close:hover{
            transform: scale(1.1);
            color: var(--black_color);
        }
    }

    
}

.toast_success{
    border-left: solid 5px var(--green_color);

    .toast_icon{
        color: var(--green_color);
    }
}

.toast_error{
    border-left: solid 5px var(--red_color);

    .toast_icon{
        color: var(--red_color);
    }
}


@keyframes slideInLeft{
    from{
        opacity: 0;
        transform:  translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }    
}